/* HEADER  */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    background: #fff;;
    -webkit-box-shadow: 0px 0px 28px 32px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 0px 0px 28px 32px rgba(34, 60, 80, 0.14);
    box-shadow: 0px 0px 28px 32px rgba(34, 60, 80, 0.14);
    border: 3px;
    border-radius: 8px;
}


.header__img{
    height: 128px;
    width: 128px;
    border: 3px;
    border-radius: 4px;
}