{% extends 'base.html' %}
{% block title %}
JA PERDOLE LA BLOCKE
{% endblock %}

{% block body %}
<h1>JA PERDOLE LA BLOCKE</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Cumque consectetur aspernatur veniam sed?</li>
<li>Veniam reprehenderit delectus ea quas.</li>
<li>Obcaecati veritatis cumque quidem tempore.</li>
<li>Harum similique fugiat sit magni.</li>
<li>Est cum voluptatem odio minima.</li>
<li>Nihil sequi numquam provident. Quasi.</li>
<li>Veritatis rerum quas hic enim.</li>
<li>Quod sapiente sunt minus. Sequi?</li>
<li>Culpa quam voluptate reiciendis iure?</li>
<li>Ea quas magni ad alias!</li>
<li>Sint beatae distinctio culpa enim.</li>
<li>Rem illo error eligendi iste.</li>
<li>Debitis odio veritatis sequi laborum.</li>
<li>Repudiandae repellendus excepturi reiciendis architecto!</li>
<li>Nam rerum est delectus fuga.</li>
<li>Ullam, est? Nobis, ratione pariatur.</li>
<li>Nam consequatur ea sapiente porro.</li>
<li>Laborum vero debitis dicta optio!</li>
<li>Laborum labore officia nemo! Nulla.</li>
<li>Eius itaque cupiditate libero saepe.</li>
<li>Est numquam optio sunt enim!</li>
<li>Unde mollitia ducimus perferendis odio.</li>
<li>Dolores quam magni asperiores temporibus.</li>
<li>Numquam adipisci itaque asperiores quasi.</li>
<li>Eveniet nemo odit dolore similique!</li>
<li>Architecto ullam laboriosam sint ab!</li>
<li>Quos maxime vero amet porro.</li>
<li>Magni omnis explicabo eligendi architecto.</li>
<li>Nulla sapiente laborum delectus voluptatibus.</li>
<li>Tempora illo quisquam dolorem maxime.</li>
<li>Quam nemo accusamus repudiandae cupiditate?</li>
<li>Quaerat quo asperiores a placeat?</li>
<li>In, vitae eaque! Reprehenderit, autem?</li>
<li>Totam voluptatem nam dicta assumenda?</li>
<li>Voluptates nihil rerum nisi suscipit.</li>
<li>Ab voluptatem hic doloribus et!</li>
<li>Dicta cum eum tempore natus.</li>
<li>Obcaecati harum ducimus modi assumenda!</li>
<li>Repellat natus possimus sed nam?</li>
<li>Tenetur id eos consequuntur recusandae.</li>
<li>Aperiam fuga velit mollitia quos.</li>
<li>Natus unde voluptatum atque dicta!</li>
<li>Nesciunt eos excepturi ipsum iusto?</li>
<li>Accusantium neque perferendis nihil obcaecati!</li>
<li>Libero non doloribus laboriosam minima!</li>
<li>Dolore sint quisquam numquam sapiente.</li>
<li>Nihil eaque pariatur optio numquam.</li>
<li>Nihil assumenda atque sit officia.</li>
<li>Facilis consequuntur nam sint! Recusandae!</li>
<li>Veritatis, quas similique. Officiis, veniam.</li>
<li>Accusamus odio placeat quo sequi!</li>
<li>Officiis dolore iusto sed pariatur.</li>
<li>Aliquam dolorem minima consectetur natus.</li>
<li>Repellat minima et deleniti est?</li>
<li>Rem enim beatae fugit provident?</li>
<li>Nam quidem dolorem laborum eos!</li>
<li>Tempora nesciunt magnam quisquam est?</li>
<li>Fuga eum repudiandae ipsam similique!</li>
<li>Ea accusantium beatae iusto eum.</li>
<li>Quo aliquam quisquam natus nesciunt.</li>
<li>Totam rerum veniam placeat voluptas.</li>
<li>Maxime, hic. Aliquid, eos unde?</li>
<li>Modi quia fugit aspernatur maxime.</li>
<li>Officiis aliquam accusamus quaerat ex.</li>
<li>Amet, praesentium. Officiis, fugit. Quasi!</li>
<li>Porro vel sed quia nulla.</li>
<li>Aliquid laborum assumenda voluptates quisquam!</li>
<li>Architecto nemo nihil sit molestias.</li>
<li>Laboriosam cum omnis dolor iusto!</li>
{% endblock %}